/* reset */
*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(255, 246, 233);
    
}
/* navigation */
#navbar{
    display: flex;
    align-items: center;
    text-align: center;
   position: sticky;
   top: 0px;
   cursor: pointer;
   
}

#navbar::before{
     content: "";
    position: absolute;
  
    width: 1050px;
    height: 100px;
    background-color: black;
    z-index: -1;
    opacity: 0.5;

}
/* navigation :- logo */

.logo{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.logo img{
   width: 80px;
   height: 80px;
   border-radius: 50%;
   padding: 10px;
  
}


/* navogation :- home */

#navbar ul{ display: flex;
    font-size: 1.3rem;
    

}

#navbar ul li{ list-style: none;

}

#navbar ul li a{ 
    
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
display: block;
padding: 5px 20px;
margin: 10px; 
color: white;

}

#navbar ul li a:hover{ color: black;
background-color: white;
border-radius: 20px; 

}
/* section :- Home */
#home{ 
    display: flex;
    flex-direction: column;
  
    padding: 0px 200px;
    
    width: 600px;
    height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#home::before{ 
    content: "";
    position: absolute; left: 0px; top: 0px;
    width: 1050px;
    height: 600px;
    background-image: url(image/bg\ \(1\).jpg);
    z-index: -1;
    opacity: 0.85;
}

/* home := heading */
.h-parimary{
    font-size: 1.8rem;
    
}
.h-secondary{
    color: white;

}
.btn{
    border: 1px solid rgb(230, 1, 77);
    border-radius: 10px;
    margin: 5px;
    padding: 4px 10px;
    font-size: 1.2rem;
    background-color: rgb(230, 1, 77);
    cursor: pointer;
}
.btn:hover{
    padding: 6px 14px;
}
.services-box{
    display: flex;
    
}
.h-parimary1{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.8rem;
    padding: 20px 0px;

}

#services .box{
    border: 2px solid chocolate;
    border-radius: 23px;
    background-color: rgb(226, 220, 216);
    text-align: center;
    margin: 30px 10px;
    padding: 10px;
    align-items: center;
    height: 400px;
    width: 300px;
}
#services .box img{
    padding: 10px 0px;
    border-radius: 5px;

}
.h-secondary{
    color: black;
    font-family: 'Balsamiq Sans', cursive;
}
.h-third{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.8rem;
    padding: 25px;
}

#client{
    width: 1050px;
    height: 620px;
}
.client-body{
    width: 800px;
    height: 500px;
    margin: 40px 100px;
    display: flex;
    border-radius: 23px;
    background-color:  rgb(230, 1, 77);
    flex-direction: row;
    flex-wrap: wrap;
}

.client-box{
    background-color: rgb(38, 73, 126);
    font-size: 18px;
    width: 355px;
    height: 210px;
    margin: 10px 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 23px
}
.client-box img{
    width: 100px;
    height: 100px;
    border: 2px solid yellow;
    border-radius: 50px;
   
}

#contact{
    width: 1050px;
    height: 800px;
}

.h-fourth{
           align-items: center;
           text-align: center;
           justify-content: center;
           font-size: 2.8rem;
           padding: 20px 0px;
           margin: 32px 0px;
}

.container{
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: row;
    border: 2px solid transparent;
    border-radius: 23px;
    margin: 40px 100px;
    overflow: hidden;
}

.contact-box{
        width: 510px;
         height: 500px;
         align-items: center;
         justify-content: center;
         text-align: center;
         font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
         background-color: red;
}
.contact-box-photo{
    width: 500px;
    height: 250px;
   
}
.contact-box-photo img{
  width: 400px;
  height: 550px;
  
}
input,textarea{
   
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px 50px;
    margin: 5px 50px;
   border-radius: 10px;
   border: 2px solid transparent;
   box-shadow: 2px 3px 10px #666;
   font-weight: bold;
}
.contact-box button{
    width: 100px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: rgb(255, 153, 0);
    border-radius: 20px;
    border: 2px solid rgb(225, 153, 0);
    cursor: pointer;
    color: white;
    box-shadow: 2px 3px 15px #333;
    transition: 2s;
}
.contact-box button:hover{
    padding: 14px;
    width: 120px;
    height: 60px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 1050px;
    padding: 20px;
}
@media (max-width:1000px){
    /* services section */
#services .box{
    flex-direction: column;

}
/* client section */
.client-body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
}